.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    max-width: 650px;
    height: auto;
    padding: 40px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

.form-control {
    width: 70%;
   position: relative;
   left: 15%;     
}

.modalSubmit {
  margin: 10px;
  width: auto;
  color: white;
  background-color: #00677e;
  border: 1px solid #024655;
  font-size: 16pt;
  padding: 5px 30px;
  border-radius: 5px;
}

.modalSubmit:hover {
  background-color: #01313c;
}

.modalClose {
  position: absolute;
  right: 20px;
  top: 30px;
  font-size: 30pt;
  line-height: 0pt;
  color: gray;
  cursor: pointer;
}

.modalClose:hover {
  color:red;
}

.modalText {
  margin: 7px 0px 0px 0px;
  font-size: 16pt;
  text-align: left;
}

.profileForm {
  display: flex;
  font-size: 12pt;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.formInput {
  flex-grow: 1;
  padding: 2px 5px;
  margin: 7px 7px 7px 0px;
  border-radius: 4px;
}

.modalCenter {
  text-align: center;
}

#loginBtn {
  height: 38px;
  color: white;
  width: 100px;
  background-color: #832019;
  border: 1px solid #5b1510;
  border-radius: 5px;
}

#loginBtn:hover {
  background-color: #390d0a;
}

#createBtn {
  background-color: #00677e;
  border: 1px solid #024655;
  color: white;
  width: auto;
  font-size: 25px;
  padding: 10px 30px;
  border-radius: 5px;
}

#createBtn:hover {
  background-color: #01313c;
}