#createBtn {
    background-color: #00677e;
    border: 1px solid #024655;
    color: white;
    width: auto;
    font-size: 25px;
    padding: 10px 30px;
    border-radius: 5px;
}

#createBtn:hover {
    background-color: #01313c;
}