.slideshow {
    width: 1080px;
    display: flex;
    flex-direction: row;
}

/* Slideshow Animation Styles  */

.cf {
    position: relative;
    height: 150px;
    width: 150px;
    margin: 0;
  }
  
  .cf img {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  @keyframes cf3FadeInOut {
    0% {
    opacity:1;
    }
    45% {
    opacity:1;
    }
    55% {
    opacity:0;
    }
    100% {
    opacity:0;
    }
  }
  
  .cf img.top {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-delay: 3s;
    animation-direction: alternate;
  }

  .cf img.top2 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: -2s;
    animation-direction: alternate;
  }

  .cf img.top3 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-delay: -1s;
    animation-direction: alternate;
  }

  .cf img.top4 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-delay: 2s;
    animation-direction: alternate;
  }

  .cf img.top5 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-direction: alternate;
  }

  .cf img.top6 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-direction: alternate;
  }

.cf img.top7 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: 0s;
    animation-direction: alternate;
  }

  .cf img.top8 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 7s;
    animation-delay: 3s;
    animation-direction: alternate;
  }

.cf img.top9 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-direction: alternate;
  }

  .cf img.top10 {
    animation-name: cf3FadeInOut;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 8s;
    animation-delay: -3s;
    animation-direction: alternate;
  }
